.div {
  border-radius: 16px;
  margin-top: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;
  width: 326px;
  height: 679px;
  background: linear-gradient(
    90deg,
    #f4f8fe 0%,
    #ddebff 50%,
    rgba(244, 248, 254, 1) 100%
  );
}

@media screen and (min-width: 768px) {
  .div {
    border-radius: 24px;
    padding: 15px 72px;
    width: 702px;
    height: 632px;
  }
}
@media screen and (min-width: 1440px) {
  .div {
    padding: 15px 72px;
    width: 856px;
    height: 632px;
    margin-left: auto;
    margin-right: auto;
  }
}
