:root {
  --button: #d7e5ff;
  --text: #001740;
  --additional-text: #345ca3;
  --blue: #dbe8ff;
  --font-family: "Montserrat", sans-serif;
  --second-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

input {
  outline: none;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 64px;
  }
}
