.list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 0;
}

.list li:nth-child(even) {
  background: #dbe8ff;
}

.p {
  text-align: center;
  font: 700 12px "Montserrat", sans-serif;
  color: #001740;
  margin-top: 16px;
}
