.picDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.absolute {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: -80px;
  left: -50px;
  color: black;
  cursor: pointer;
}

.absolute > p {
  font-weight: 500;
  font-size: 13px;
  color: #001740;
}

.name {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #001740;
  text-align: center;
}

.label {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #526e96;
}

.data {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  color: #001740;
}

.relative {
  position: relative;
  padding-top: 100px;
}

.pic {
  border-radius: 100%;
  margin-bottom: 11px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.ts {
  border-radius: 100%;
  border: 1px solid #000;
  width: 35px;
  background-color: transparent;
  height: 35px;
  padding: 7px;
  position: absolute;
  top: 160px;
  right: 60px;
}

.uploadIcon {
  color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.invisible {
  display: none;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.arrow {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .pic {
    width: 140px;
    height: 140px;
  }
  .name {
    font-size: 30px;
  }
  .ts {
    right: 30px;
    top: 195px;
    width: 46px;
    height: 46px;
    padding: 8px;
  }
  .uploadIcon {
    width: 28px;
    height: 28px;
  }
  .absolute {
    gap: 10px;
    top: 5px;
    left: -225px;
    color: black;
    cursor: pointer;
  }
  .absolute > p {
    font-size: 20px;
  }
  .arrow {
    width: 24px;
    height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .pic {
    width: 165px;
    height: 165px;
  }
  .ts {
    right: 20px;
    top: 220px;
    width: 46px;
    height: 46px;
    padding: 6px;
  }

  .uploadIcon {
    width: 33px;
    height: 33px;
  }
  .absolute {
    top: 5px;
    left: -290px;
  }
}
